<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">    
</head>
    <title>Space Tigers</title>
    <style>
        body {
            text-align: center;
        }

        ul {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        li {
            margin: 20px;
            padding: 15px;
            border-radius: 15px;
            max-width: 250px;
        }

        img {
            width: 100%;
        }
    </style>
</head>

<body>
    <h2>Shop Space Tiger Products</h2>
    <a href="{% url 'new_user' %}">Sign up</a>
    <a href="{% url 'user_table' %}">User List</a>
    <ul>
        {% for product in products %}
        <li>
            <img src="{{ product.image_url }}" alt="{{ product.name }}">
            <p>{{ product.name }} (${{ product.price }})</p>
        </li>
        {% endfor %}
    </ul>
</body>
<footer>© Team 1 - Nick, John, Alex, and Nate</footer>
</html>