<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <title>Sign Up</title>
</head>
<style>
            h2, nav {
            text-align: center;
        }
</style>
<body>
    <header>
        <h2>Sign up to Space Tigers</h2>
        <nav>
            <!-- Link to home page -->
            <a href="{% url 'index' %}">Back to Home</a>
        </nav>
    </header>

    <section>
        <article>
            <h3>Personal Information</h3>
            <p>Please fill out the form below to sign up for an account. All fields are required.
            </p>
        </article>

        <form method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Basic Details</legend>
                <!-- First name -->
                <label for="fname">First name:</label><br>{{ form.first_name }}<br><br>

                <!-- Middle initial -->
                <label for="mname">Middle Initial (optional):</label><br>{{ form.middle_initial }}<br><br>

                <!-- Last name -->
                <label for="lname">Last name:</label><br>{{ form.last_name }}<br><br>
            </fieldset>

            <br>

            <fieldset>
                <legend>Contact Information</legend>
                <!-- Email -->
                <label for="email">Email:</label><br>{{ form.email }}<br><br>

                <!-- Phone -->
                <label for="phone">Phone:</label><br>{{ form.phone }}<br><br>
            </fieldset>

            <br>

            <fieldset>
                <legend>Profile</legend>
                <!-- Avatar URL -->
                <label for="avatar_url">Avatar URL:</label><br>{{ form.avatar_url }}<br><br>
            </fieldset>

            <br>
            <!-- Submit form -->
            <input type="submit" value="Submit">
        </form>

    </section>

    <footer>
        <footer>© Team 1 - Nick, John, Alex, and Nate</footer>
    </footer>
</body>

</html>