# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore environment and system files
*.env
*.sqlite3
db.sqlite3
.env
venv/
.vscode/
.idea/
.DS_Store

# Ignore Django migrations
*/migrations/

# Ignore static and media files
/static/
media/
